[Desktop Entry]
Version=1.0
Type=Application
Name=Anaconda Navigator
Exec="/home/tushar/anaconda3/bin/anaconda-navigator" %f
Categories=Development;IDE;
Terminal=false
StartupNotify=true
