[Desktop Entry]
Name=code - URL Handler
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=/usr/bin/code-oss --no-sandbox --force-device-scale-factor=1 --ignore-gpu-blocklist --enable-gpu-rasterization --enable-oop-rasterization --open-url %U
Icon=com.visualstudio.code.oss
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/code-oss;
Keywords=vscode;
