[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=SUPERHOT
GenericName=SUPERHOT
Comment=SUPERHOT
Icon=/home/tushar/GOG Games/SUPERHOT/support/icon.png
Exec="/home/tushar/GOG Games/SUPERHOT/start.sh" ""
Categories=Game;
Path=/home/tushar/GOG Games/SUPERHOT

