[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Duke Nukem 3D Atomic Edition
GenericName=Duke Nukem 3D Atomic Edition
Comment=Duke Nukem 3D Atomic Edition
Icon=/home/tushar/GOG Games/Duke Nukem 3D Atomic Edition/support/icon.png
Exec="/home/tushar/GOG Games/Duke Nukem 3D Atomic Edition/start.sh" ""
Categories=Game;
Path=/home/tushar/GOG Games/Duke Nukem 3D Atomic Edition

