[Desktop Entry]
Type=Application
Name=wordpad
MimeType=application/wps-office.doc;
Exec=env WINEPREFIX="/home/tushar/.wine" wine start /ProgIDOpen rtffile %f
NoDisplay=true
StartupNotify=true
Icon=3365_wordpad.0
