[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tushar/Desktop/screenshot1.png]
row=3
col=1

[/home/tushar/Desktop/Screenshot_20190322_151724.png]
row=6
col=0

[/home/tushar/Desktop/PANO_20190224_173754-03.jpeg]
row=5
col=0

[/home/tushar/Desktop/screenshot3.png]
row=1
col=1

[/home/tushar/Desktop/IMG_20180808_085919.jpg]
row=7
col=0

[/home/tushar/Desktop/Screenshot_20190208_231513.png]
row=8
col=0

[/home/tushar/Desktop/screenshot5.png]
row=7
col=1

[/home/tushar/Desktop/notes]
row=4
col=1

[/home/tushar/Desktop/screenshot2.png]
row=2
col=1

[/home/tushar/Desktop/screenshot4.png]
row=0
col=1

[/home/tushar/Desktop/sGx3fwk.png]
row=5
col=1

[/home/tushar/Desktop/1.jpg]
row=6
col=1

[16F9804935544CDF]
row=0
col=0

[EA08DF4008DF0B09]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/tushar]
row=4
col=0

